<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.xzwb.bookstore.mapper.HomeMapper">
    <select id="selectPersonByStudentCode" resultType="person">
        select *from user where studentCode = #{studentCode};
    </select>

    <insert id="insertBook" keyProperty="bookId" useGeneratedKeys="true">
        insert into book values
        (default, #{studentCode}, #{bookName},
        #{bookStyle, typeHandler = cc.xzwb.bookstore.typeHandler.MyTypeHandler},
        #{bookIntroduction}, #{bookSrc}, #{bookDate});
    </insert>
</mapper>